:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scrollbar-gutter: stable; 
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.globalBtnColor{
  background-color: #0a0a0a;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
}
.globalBtnColor:hover{
background-color: #3e2723;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.app-wrapper {
  min-height: 100vh;          
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
}
.footer {
  background-color: #0a0a0a;
  color: white;
  text-align: center;
  padding: 12px;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* DISABLE BACKGROUND SCROLL */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* TOP HEADER */
.topheader {
  height: 50px;
  background: #3e2723;
  color: #f2f2f2;
  padding: 6px 12px;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.topheader ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  text-align: center;
  margin-bottom: 0px;
}

.topheader li {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 0px;
  border-right: 1px dotted #fff;
  padding-right: 10px;
}

/* MAIN HEADER */
.mainHeader {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 70px;
  background: #3e2723;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.4); */
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/* DESKTOP MENU */
.desktopMenu {
  display: flex;
  gap: 28px;
}

.desktopMenu a {
  color: white;
  position: relative;
  padding-bottom: 4px;
  font-size: 14px;
  text-decoration: none;
}

.desktopMenu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s ease;
}

.desktopMenu a:hover::after {
  width: 100%;
}

/* HAMBURGER */
.hamburger {
  color: white;
  cursor: pointer;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9997;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 70px;
  left: -100%;
  width: 220px;
  height: calc(100vh - 70px);
  background: #3e2723;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  transition: left 0.3s ease;
  z-index: 9998;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.sidebar a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.sidebar.active {
  left: 0;
}
@media(max-width:1194px){
  .topheader{
    display: none;
  }
}