:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.topheader{
  height: 50px;
  background-color:lightblue;
  display: flex;
  align-items: center;

}
.leftt_top_header{
  width: 30%;
  color: #fff;
}
.rightheader {
  width: 70%;
}.rightheader ul{
  list-style: none;
  display: flex;
  gap: 10px;
  color: #ffffff;
}
.headerMain_Contianer{
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #3e2723;
}
.logocontainer{
  width: 15%;
  color: #fff;
}
.mainheader_MenuContainer{
  width: 85%;
  display: flex;
  gap: 20px;
}
.mainheader_MenuContainer a{
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}
.mainheader_MenuContainer a:hover{
  color: yellow;
}
